<div class="centered form">
    <p>Insert network details</p>

    <div [formGroup]="newAddressFG">
        <div class="sameLine">
            <div>
                <span>Choose IP version: </span>
                <mat-radio-group class="fullPage" formControlName="type">
                    <mat-radio-button value="ipv4" checked>ipv4</mat-radio-button>
                    <mat-radio-button value="ipv6">ipv6</mat-radio-button>
                </mat-radio-group>
            </div>

            <div>
                <span>Static/Dynamic: </span>
                <mat-radio-group class="fullPage" formControlName="isStatic">
                    <mat-radio-button value="true" checked>static</mat-radio-button>
                    <mat-radio-button value="false">dynamic</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>


        <div class="sameLine">
            <mat-form-field class="fullPage">
                <input type="text" matInput #name formControlName="name" placeholder="Enter interface name" required maxlength="100">
                <mat-hint align="end">{{name.value?.length || 0}}/100</mat-hint>
                <mat-error *ngIf="FormControls.name.hasError('required')">
                    This field is <strong>required</strong>!
                </mat-error>
                <mat-error *ngIf="FormControls.name.hasError('maxlength')">
                    Too long!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="fullPage">
                <input type="text" matInput #description formControlName="description" placeholder="Enter a description" required maxlength="100">
                <mat-hint align="end">{{description.value?.length || 0}}/255</mat-hint>
                <mat-error *ngIf="FormControls.description.hasError('required')">
                    This field is <strong>required</strong>!
                </mat-error>
                <mat-error *ngIf="FormControls.description.hasError('maxlength')">
                    Too long!
                </mat-error>
            </mat-form-field>
        </div>

        <div *ngIf="FormControls.isStatic.value == 'true'">
            <mat-form-field class="fullPage">
                <app-address-form-field type="{{FormControls.type.value}}"
                    required="FormControls.isStatic.value == 'true'" placeholder="Enter address"
                    formControlName="address"></app-address-form-field>
                <mat-error *ngIf="FormControls.address.hasError('required')">
                    This field is <strong>required</strong>!
                </mat-error>
                <mat-error *ngIf="FormControls.address.hasError('ipAddress')">
                    Malformed IP address
                </mat-error>
            </mat-form-field>

            <mat-form-field class="fullPage">
                <app-address-form-field type="{{FormControls.type.value}}"
                    required="FormControls.isStatic.value == 'true'" placeholder="Enter subnet mask"
                    formControlName="subnet"></app-address-form-field>
                <mat-error *ngIf="FormControls.subnet.hasError('required')">
                    This field is <strong>required</strong>!
                </mat-error>
                <mat-error *ngIf="FormControls.subnet.hasError('ipAddress')">
                    Malformed IP address
                </mat-error>
            </mat-form-field>

            <mat-form-field class="fullPage">
                <app-address-form-field type="{{FormControls.type.value}}"
                    required="FormControls.isStatic.value == 'true'" placeholder="Enter gateway address"
                    formControlName="gateway"></app-address-form-field>
                <mat-error *ngIf="FormControls.gateway.hasError('required')">
                    This field is <strong>required</strong>!
                </mat-error>
                <mat-error *ngIf="FormControls.gateway.hasError('ipAddress')">
                    Malformed IP address
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <button mat-raised-button color="accent" (click)="save()" id="saveBtn"
        [disabled]="!newAddressFG.valid || disableSaveButton">Save</button>
</div>